@import "../../../style/px2rem.scss";

.titleBar{
	padding: dp2rem(8) dp2rem(14);
	box-sizing:box-sizing;	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-item: center;
	color: #333;
	border-bottom:1px solid #e2e2e2;
	.left{
		line-height: 1.2;
		flex-shrink: 1;
		.song-name{
			font-size: dp2rem(18);			
			margin-top: dp2rem(8);
		}
		.song-singer{
			margin-top: dp2rem(8);
			font-size:dp2rem(14);
		}
	}
	.right{
		flex-shrink: 2;		
		.share-btn{
		line-height: 1.5;	
			.iconfont{			
				font-size: dp2rem(36);
			}
		}
	}	
}
