@font-face {
  font-family: 'iconfont';

  /* project id 247471 */
  src: url("//at.alicdn.com/t/font_sypeuttsrloywrk9.eot");
  src: url("//at.alicdn.com/t/font_sypeuttsrloywrk9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_sypeuttsrloywrk9.woff") format("woff"), url("//at.alicdn.com/t/font_sypeuttsrloywrk9.ttf") format("truetype"), url("//at.alicdn.com/t/font_sypeuttsrloywrk9.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e65a";
}

.icon-label:before {
  content: "\e611";
}

.icon-loopone:before {
  content: "\e612";
}

.icon-loop:before {
  content: "\e612";
}

.icon-more:before {
  content: "\e64b";
}

.icon-find:before {
  content: "\e613";
}

.icon-cd:before {
  content: "\e614";
}

.icon-customer:before {
  content: "\e615";
}

.icon-next:before {
  content: "\e616";
}

.icon-share:before {
  content: "\e617";
}

.icon-prev:before {
  content: "\e618";
}

.icon-list:before {
  content: "\e619";
}

.icon-balancer:before {
  content: "\e61a";
}

.icon-discuss:before {
  content: "\e61b";
}

.icon-recording:before {
  content: "\e61c";
}

.icon-del:before {
  content: "\e61d";
}

.icon-shoucang:before {
  content: "\e61e";
}

.icon-search:before {
  content: "\e61f";
}

.icon-add:before {
  content: "\e620";
}

.icon-setting:before {
  content: "\e621";
}

.icon-person:before {
  content: "\e622";
}

.icon-picture:before {
  content: "\e623";
}

.icon-download:before {
  content: "\e624";
}

.icon-like:before {
  content: "\e625";
}

.icon-airplay:before {
  content: "\e626";
}

.icon-volume:before {
  content: "\e627";
}

.icon-resent:before {
  content: "\e628";
}

.icon-vip:before {
  content: "\e629";
}

.icon-pause:before {
  content: "\e62a";
}

.icon-scan:before {
  content: "\e62b";
}

.icon-car:before {
  content: "\e62c";
}

.icon-good:before {
  content: "\e62d";
}

.icon-light:before {
  content: "\e62e";
}
