@import "../../../style/index.scss";
body{
  // background: url('https://gw.alicdn.com/tps/TB17mnUNpXXXXXoapXXXXXXXXXX-1000-897.jpg')no-repeat center center;
  // background-size: cover 100%;
  // -webkit-filter: blur(15px);
  // -webkit-transform: scale(1.15);
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // left:0;
  // top:0;
  // bottom:0;
  // right:0;
  background: #eee;
}
#app{
  width:100%;
  min-height: 100%;
  position: relative;
  left:0;
  top:0;
  right:0;
  bottom:0;
}
.wrap{
  width:100%;
  min-height: 100%;
  position: relative;
  left:0;
  top:0;
  right:0;
  bottom:0;
}
